<!DOCTYPE html>
<html>
<head>
  <title>Saaso</title>
  <%= stylesheet_link_tag    "saaso/application", media: "all" %>
  <%= javascript_include_tag "saaso/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
